// COLLAPSE GENERAL
.collapse-button {
  position: relative;
  background-color: $color-1;
  color: white;
  img {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    @include mobile {
      width: 15px;
    }
  }
}

.collapse-content {
  margin-top: -8px;
  background-color: $color-2;
  font-weight: 400;
  flex: 1;
  list-style-type: none;
}

// COLLAPSE DE LA PAGE ACCOMMODATION
.accommodation-collapse {
  .collapse-button {
    border-radius: 10px;
    padding: 13px 0px 13px 3.6%;
    @include mobile {
      font-size: 13px;
      padding: 5.5px 0px 5.5px 3.6%;
      border-radius: 5px;
    }
  }
  .collapse-content {
    border-radius: 10px;
    padding: 40px 2.5% 53px 3.5%;
    @include mobile {
      font-size: 12px;
      padding: 23px 3.5% 4px 3.5%;
      border-radius: 5px;
    }
  }
}

// COLLAPSE DE LA PAGE ABOUT US
.about-us-collapse {
  .collapse-button {
    font-size: 24px;
    border-radius: 5px;
    padding: 9px 0px 9px 2%;
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      padding: 7px 0px 7px 3%;
      font-size: 13px;
    }
  }
  .collapse-content {
    font-size: 24px;
    border-radius: 5px;
    padding: 40px 2.5% 15px 2%;
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 12px;
      padding: 23px 2.5% 52px 3%;
    }
  }
}
