.footer-container {
  background-color: $black;
  padding-top: 66px;
  margin-top: 80px;
  @include mobile {
    margin-top: 50px;
  }
  img,
  p {
    display: block;
    margin: auto;
    text-align: center;
    padding-bottom: 29px;
    font-size: 24px;
    @include tablet {
      font-size: 18px;
    }
    @include mobile {
      font-size: 12px;
    }
  }
}
