.gallery-container {
  margin-top: 43px;
  padding: 50px 2% 0px 2%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  background-color: $color-2;
  border-radius: 25px;
  @include mobile {
    margin-top: 22px;
    padding: 0px;
    background-color: white;
  }
}
