.header-container {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  @include mobile {
    font-size: 12px;
    text-transform: uppercase;
  }
  img {
    @include mobile {
      height: 47px;
    }
  }
  ul {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    flex-wrap: wrap;
  }
  a {
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: flex-end;
    width: 155px;
    text-align: right;
    flex-wrap: wrap;
    @include mobile {
      width: 80px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
