//*********** COLORS ***********//
$color-1: #ff6060;
$color-2: #f6f6f6;
$color-3: #e3e3e3;
$white: #ffffff;
$black: #000000;

body {
  background: $white;
  color: $color-1;
}

a {
  color: $color-1;
}

.banner-container,
.gallery-container,
.footer-container {
  color: $white;
}

//*********** TYPOGRAPHY ***********//
@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

$font-1: "font-1", sans-serif;

body {
  font-family: $font-1;
  font-size: 18px;
  font-weight: 500;
}

//*********** GENERAL SETTINGS ***********//

html,
body {
  height: 100vh;
  min-width: 280px;
}

//Sticky footer
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  margin: 40px auto;
  width: 86%;
  flex-grow: 1;
  @include mobile {
    margin: 20px auto;
    width: 89%;
  }
}

// loading message and error message
.loading,
.error {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
