// BREAKPOINTS //
$breakpoints: (
  small: 668px,
  medium: 992px,
);

@mixin tablet {
  @media screen and (max-width: map-get($breakpoints, medium)) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: map-get($breakpoints, small)) {
    @content;
  }
}
