/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  background: #ffffff;
  color: #ff6060;
}

a {
  color: #ff6060;
}

.banner-container,
.gallery-container,
.footer-container {
  color: #ffffff;
}

@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
body {
  font-family: "font-1", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

html,
body {
  height: 100vh;
  min-width: 280px;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  margin: 40px auto;
  width: 86%;
  flex-grow: 1;
}
@media screen and (max-width: 668px) {
  .wrapper {
    margin: 20px auto;
    width: 89%;
  }
}

.accommodation-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .accommodation-details {
    flex-direction: column;
    margin-bottom: 17px;
  }
}

.accommodation-details__1 h1 {
  font-size: 36px;
  line-height: 51px;
}
@media screen and (max-width: 668px) {
  .accommodation-details__1 h1 {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 5px;
  }
}
.accommodation-details__1 p {
  margin-bottom: 10px;
  line-height: 26px;
}
@media screen and (max-width: 668px) {
  .accommodation-details__1 p {
    font-size: 14px;
    margin-bottom: 5px;
  }
}
.accommodation-details__1 span {
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
  background-color: #ff6060;
  color: #ffffff;
  margin-right: 10px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
}
@media screen and (max-width: 668px) {
  .accommodation-details__1 span {
    font-size: 10px;
    width: 110px;
    margin-top: 5px;
    border-radius: 5px;
  }
}

.accommodation-details__2 {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  .accommodation-details__2 {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.accommodation-details__2owner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.accommodation-details__2owner p {
  width: 93px;
  text-align: right;
  margin-right: 10px;
}
@media screen and (max-width: 668px) {
  .accommodation-details__2owner p {
    font-size: 12px;
  }
}
.accommodation-details__2owner div {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  overflow: hidden;
}
@media screen and (max-width: 668px) {
  .accommodation-details__2owner div {
    width: 32px;
    height: 32px;
  }
}

.owner-flex {
  flex: 1;
}

.accommodation-collapse {
  display: flex;
  gap: 6%;
}
@media screen and (max-width: 668px) {
  .accommodation-collapse {
    flex-direction: column;
  }
}
.accommodation-collapse .collapse-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (max-width: 668px) {
  .accommodation-collapse .collapse-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

.about-us h1 {
  color: transparent;
}
.about-us .collapse-container {
  margin-top: 31px;
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 992px) {
  .about-us .collapse-container {
    margin-top: 26px;
  }
}
@media screen and (max-width: 668px) {
  .about-us .collapse-container {
    margin-top: 20px;
    width: 100%;
  }
}

.not-found {
  text-align: center;
}
.not-found h1 {
  font-size: 288px;
  font-weight: 700;
  margin-top: 125px;
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .not-found h1 {
    font-size: 192px;
  }
}
@media screen and (max-width: 668px) {
  .not-found h1 {
    font-size: 96px;
    margin-bottom: 11px;
  }
}
.not-found p {
  font-size: 36px;
  margin-bottom: 182px;
}
@media screen and (max-width: 992px) {
  .not-found p {
    font-size: 27px;
  }
}
@media screen and (max-width: 668px) {
  .not-found p {
    font-size: 18px;
    margin-bottom: 133px;
  }
}
.not-found a {
  display: block;
  margin-bottom: 159px;
  text-decoration-line: underline;
}
@media screen and (max-width: 668px) {
  .not-found a {
    font-size: 14px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
@media screen and (max-width: 668px) {
  .header-container {
    font-size: 12px;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 668px) {
  .header-container img {
    height: 47px;
  }
}
.header-container ul {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-wrap: wrap;
}
.header-container a {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: flex-end;
  width: 155px;
  text-align: right;
  flex-wrap: wrap;
}
@media screen and (max-width: 668px) {
  .header-container a {
    width: 80px;
  }
}
.header-container a:hover {
  text-decoration: underline;
}

.footer-container {
  background-color: #000000;
  padding-top: 66px;
  margin-top: 80px;
}
@media screen and (max-width: 668px) {
  .footer-container {
    margin-top: 50px;
  }
}
.footer-container img,
.footer-container p {
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: 29px;
  font-size: 24px;
}
@media screen and (max-width: 992px) {
  .footer-container img,
  .footer-container p {
    font-size: 18px;
  }
}
@media screen and (max-width: 668px) {
  .footer-container img,
  .footer-container p {
    font-size: 12px;
  }
}

.banner-container {
  height: 223px;
  position: relative;
  font-size: 48px;
}
@media screen and (max-width: 992px) {
  .banner-container {
    font-size: 36px;
  }
}
@media screen and (max-width: 668px) {
  .banner-container {
    font-size: 24px;
  }
}
.banner-container img {
  position: absolute;
  z-index: 1;
  border-radius: 25px;
  width: 100%;
  height: 223px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.7);
}
@media screen and (max-width: 668px) {
  .banner-container img {
    border-radius: 10px;
  }
}
.banner-container h1 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
@media screen and (max-width: 668px) {
  .banner-container h1 {
    width: 65%;
    text-align: left;
    left: 16px;
    transform: translate(0%, -50%);
  }
}

.home .banner-container {
  margin-top: 63px;
}
@media screen and (max-width: 992px) {
  .home .banner-container {
    margin-top: 45px;
    height: 165px;
  }
}
@media screen and (max-width: 668px) {
  .home .banner-container {
    margin-top: 16px;
    height: 111px;
  }
}
@media screen and (max-width: 992px) {
  .home .banner-container img {
    height: 165px;
  }
}
@media screen and (max-width: 668px) {
  .home .banner-container img {
    height: 111px;
  }
}

.about-us .banner-container {
  margin-top: 44px;
}
@media screen and (max-width: 668px) {
  .about-us .banner-container {
    margin-top: 17px;
  }
}

.gallery-container {
  margin-top: 43px;
  padding: 50px 2% 0px 2%;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  background-color: #f6f6f6;
  border-radius: 25px;
}
@media screen and (max-width: 668px) {
  .gallery-container {
    margin-top: 22px;
    padding: 0px;
    background-color: white;
  }
}

.accomodation-card {
  position: relative;
  width: 28.8%;
  min-width: 240px;
  max-width: 455px;
  height: 340px;
  margin-bottom: 50px;
  border-radius: 10px;
  transition: 0.4s;
}
.accomodation-card:hover {
  transform: scale(1.04);
}
@media screen and (max-width: 668px) {
  .accomodation-card {
    height: 255px;
    margin: 0px 0px 20px 0px;
  }
}
.accomodation-card .card-image-wrapper {
  width: 100%;
  height: 100%;
}
.accomodation-card .card-image-wrapper::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}
.accomodation-card .card-image-wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.accomodation-card h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 65%;
}
@media screen and (max-width: 992px) {
  .accomodation-card {
    width: 40%;
  }
}
@media screen and (max-width: 668px) {
  .accomodation-card {
    width: 100%;
  }
}

.collapse-button {
  position: relative;
  background-color: #ff6060;
  color: white;
}
.collapse-button img {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 668px) {
  .collapse-button img {
    width: 15px;
  }
}

.collapse-content {
  margin-top: -8px;
  background-color: #f6f6f6;
  font-weight: 400;
  flex: 1;
  list-style-type: none;
}

.accommodation-collapse .collapse-button {
  border-radius: 10px;
  padding: 13px 0px 13px 3.6%;
}
@media screen and (max-width: 668px) {
  .accommodation-collapse .collapse-button {
    font-size: 13px;
    padding: 5.5px 0px 5.5px 3.6%;
    border-radius: 5px;
  }
}
.accommodation-collapse .collapse-content {
  border-radius: 10px;
  padding: 40px 2.5% 53px 3.5%;
}
@media screen and (max-width: 668px) {
  .accommodation-collapse .collapse-content {
    font-size: 12px;
    padding: 23px 3.5% 4px 3.5%;
    border-radius: 5px;
  }
}

.about-us-collapse .collapse-button {
  font-size: 24px;
  border-radius: 5px;
  padding: 9px 0px 9px 2%;
}
@media screen and (max-width: 992px) {
  .about-us-collapse .collapse-button {
    font-size: 18px;
  }
}
@media screen and (max-width: 668px) {
  .about-us-collapse .collapse-button {
    padding: 7px 0px 7px 3%;
    font-size: 13px;
  }
}
.about-us-collapse .collapse-content {
  font-size: 24px;
  border-radius: 5px;
  padding: 40px 2.5% 15px 2%;
}
@media screen and (max-width: 992px) {
  .about-us-collapse .collapse-content {
    font-size: 18px;
  }
}
@media screen and (max-width: 668px) {
  .about-us-collapse .collapse-content {
    font-size: 12px;
    padding: 23px 2.5% 52px 3%;
  }
}

.carousel-container {
  position: relative;
  height: 415px;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 668px) {
  .carousel-container {
    height: 255px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
.carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 668px) {
  .carousel-container button img {
    height: 20px;
  }
}
.carousel-container span {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
@media screen and (max-width: 668px) {
  .carousel-container span {
    display: none;
  }
}

.carousel-picture {
  -o-object-fit: cover;
     object-fit: cover;
  height: 415px;
  width: 100%;
  border-radius: 25px;
}
@media screen and (max-width: 668px) {
  .carousel-picture {
    height: 255px;
    border-radius: 10px;
  }
}

.arrow-left {
  left: 23px;
}

.arrow-right {
  right: 23px;
}

.rating-container {
  text-align: right;
  width: 200px;
}
@media screen and (max-width: 668px) {
  .rating-container {
    text-align: left;
  }
}
.rating-container img {
  margin-left: 10px;
}
@media screen and (max-width: 668px) {
  .rating-container img {
    width: 15px;
    margin-left: 5px;
  }
}/*# sourceMappingURL=index.css.map */