.about-us {
  h1 {
    color: transparent;
  }
  .collapse-container {
    margin-top: 31px;
    width: 82.5%;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      margin-top: 26px;
    }
    @include mobile {
      margin-top: 20px;
      width: 100%;
    }
  }
}
